<span><%= link_to "back to #{@post.category.name}", category_path(@post.category) %></span>

<h1><%= @post.title %> </h1>

<span><%= link_to 'edit', edit_post_path(@post) %></span>
<span><%= link_to 'delete', post_path(@post), :method => :delete %></span>

<p><%= @post.body %></p>
