<h1>update <%= @category.name %></h1>
<ul>
  <%= form_for @category do |f| %>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>
