<h1>update <%= @category.name %></h1>
<% if @category.errors.any? %>
  <ul>
    <% @category.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<ul>
  <%= form_for @category do |f| %>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>
